@charset "UTF-8";

/* 回答はここに書いてね */
clearfix:after {
   display: block;
   content: "";
   clear: both;
}

.q2-content {
  padding: 20px;
  width: 900px;
  font-size: 18px;
  line-height: 22px;
  background-color: #eff3f4;
  margin: 0 auto;
}

.left {
  float: left;
  margin-right: 20px;
  width: 200px;
  height: 133px;
}

.right {
  float: right;
  margin-left: 20px;
  width: 200px;
  height: 133px;

}

p {
   word-break: break-all;
}
/* 回答はここに書いてね */
