@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
/* 回答はここに書いてね */

.float-content {
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  background-color: #ECF1F2;
}

.left {
  margin-left: 50px;
  padding: 10px;
  width: 225px;
  font-size: 16px;
  float: left;
  background-color: white;
  box-sizing: border-box;
}
.left:first-child {
  margin-left: 0;
}

.content-table {
  display: table;
  font-size: 16px;
  margin-left: 50px;
}

.table-cell {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}

.table-cell:first-child {
  padding-left: 0;
}

.inlineblock-content {
  margin: auto;
  padding: 15px;
  width: 500px;
  font-size: 16px;
  background-color: #ECF1F2;
}

.inlineblock-left {
  margin-right: 40px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  width: 205px;
  font-size: 16px;
  background-color: white;
}

.inlineblock-right {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  width: 205px;
  font-size: 16px;
  background-color: white;
}

.flex {
  padding: 10px;
  width: 205px;
  font-size: 16px;
  background-color: white;
}

.flex-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  background-color: #ECF1F2;
  clear: both;
}

  .margin-left {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 300px;
    /*vertical-align: middle;
    padding: 10px;
    font-size: 16px;
    background-color: white;*/
  }

  .margin-right {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-left: -400px;
    padding-left: 450px;
    box-sizing: border-box;
    /* padding: 10px;
    font-size: 16px;
    background-color: white;
    margin-left: 400px;
  }


/* 回答はここに書いてね */
