@charset "UTF-8";

/* 回答はここに書いてね */

.content {
  padding: 20px;
  width: auto;
  height: auto;
  background-color: #eff3f4;
}

.display-table {
  display: table;
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
}

.display-table:last-child {
  margin-bottom: 0;
}

.table-cell {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: table-cell;
}


.cell-pink {
  width: 100px;
  background-color: #FDC8B8;
}

.cell-purple {
  background-color: #e0abd9;
}

.cell-blue {
  background: #b6d8ed;
  width: 100px;
}

.cell-yellow {
  background: #e5d32e;
}

.cell-red {
  background: #ec8f9a;
}

.cell-green {
  background: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
