@charset "UTF-8";

/* 回答はここに書いてね */

.content {
  padding: 20px;
  width: auto;
  height: auto;
  background-color: #eff3f4;
}

.display-table1 {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.table-cell1 {
  padding: 20px;
  text-align: center;
  display: table-cell;
}

.display-table .table-cell1:first-child {
  width: 100px
}

.table-cell2 {
  margin: 0 auto;
  padding: 20px;
  display: table-cell;
  text-align: center;

}

.display-table .table-cell1:last-child {
  width: 500px
}

.cell-pink {
  padding: 20px;
  width: 100px;
  background-color: #FDC8B8;
}

.cell-purple {
  display: table-cell;
  padding: 20px;
  width: 100%;
  background-color: #e0abd9;
}
.cell-blue {
  display: table-cell;
}

.display-table2 {
  margin-top: 20px;
  display: table;
  border-collapse: collapse;
  width: 100%;

}

/* 回答はここに書いてね */
