@charset "UTF-8";

/* 回答はここに書いてね */
.table-main {
  margin auto;
  font-size: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: solid #dedede 1px;
  width: 100%
}

th {
  border: solid #dedede 1px;
  padding: 10px;
  color: white;
  background-color: #2244aa;
}

td {
  border: solid #dedede 1px;
  color: #222;
  text-align: center;
  background-color: #ecf1f2;
}


.table-main tr:nth-child(2n+1) td {
  background: #fff;
}

.table-main td tr:first-child {
  color: #fff;
  background-color: #2244aa;
}

.table-main tbody tr:last-child {
  border-top: dashed #000 2px;
}



/* 回答はここに書いてね */
